Repository the-mvi/spbetu-computer-mathematics-2021, pull requests merged in 2021-04, with the labels that each got.

#1 9304_Tinyakov_SA_task1
  9304_Tinyakov_SA/task1.ipynb
Labels: check needed, task1

#6 9382_Golubeva_VP_task1
  9382_Golubeva_VP/task1.ipynb
Labels: check needed, task1

#15 9304_Kraev_DV_task1
  9304_Kraev_DV/.ipynb_checkpoints/task1-checkpoint.ipynb
  9304_Kraev_DV/task1.ipynb
Labels: check needed, task1

#14 9383_Kamzolov_NA_task1
  9383_Kamzolov_NA/task1.ipynb
Labels: check needed, task1

#16 9383_Gladkikh_AA_task1
  9383_Gladkikh_AA/task1.ipynb
Labels: check needed, task1

#13 9381_Shakhin_NS_task2
  9381_Shakhin_NS/task2.ipynb
Labels: check needed, task2

#11 9382_Sorokumov_SV_task1
  9382_Sorokumov_SV/task1.ipynb
Labels: task1

#3 9381_Shakhin_NS_task1
  9381_Shakhin_NS/task1.ipynb
Labels: check needed, task1

#10 9381_Kolovanov_RA_task1
  9381_Kolovanov_RA/task1.ipynb
Labels: check needed, task1

#8 9383_Kreysmann_KV_task1
  9383_Kreysmann_KV/task1.ipynb
Labels: check needed, task1

#17 9304_Kraev_DV_task1
  9304_Kraev_DV/.ipynb_checkpoints/task1-checkpoint.ipynb
  9304_Kraev_DV/task1.ipynb
Labels: check needed, task1

#18 9303_Khlilov_SHA_task1
  9303_Khalilov_SHA/PracticalWork1.ipynb
Labels: check needed, task1

#19 9303_Loykonen_MR_task1
  9303_Loykonen_MR/task1.ipynb
Labels: check needed, task1

#20 9383_Kreysmann_KV_task2
  9383_Kreysmann_KV/task2.ipynb
Labels: check needed, task2

#24 9304_Tinyakov_SA_task2
  9304_Tinyakov_SA/task2.ipynb
Labels: check needed, task2

#25 9381_Ignashov_VM_task1
  9381_Ignashov_VM/task1.ipynb
Labels: check needed, task1

#26 9383_Arutyunyan_SN_task1
  9383_Arutyunyan_SN/task1.ipynb
Labels: check needed, task1

#27 9304_Afanasyev_A_task1
  9304_Afanasyev_A/task1.ipynb
Labels: check needed, task1

#61 9381_Prashutinsky_KI_task1
  9381_Prashutinsky_KI_task1/task1.ipynb
Labels: check needed, task1

#48 9383_Rybnikov_RA_task1
  9383_Rybnikov_RA/task1.ipynb
Labels: check needed, task1

#39 9303_Kurshev_EO_Task1
  9303_Kurshev_EO/Task1.ipynb
Labels: check needed, task1

#52 9381_Matveev_AN_task1
  9381_Matveev_AN/.ipynb_checkpoints/task1-checkpoint.ipynb
  9381_Matveev_AN/task1.ipynb
Labels: check needed, task1

#56 9381_Nikolaev_AA_task1
  9381_Nikolaev_AL/task1.ipynb
Labels: check needed, task1

#50 9383_Sergienkova_AA_task1
  9383_Sergienkova_AA/task1.ipynb
Labels: check needed, task1

#47 9381_Semenov_AN_task1
  9381_Semenov_AN/task1.ipynb
Labels: check needed, task1

#33 9381_Kolovanov_RA_task2
  9381_Kolovanov_RA/task2.ipynb
Labels: check needed, task2

#55 9381_Sudakov_EV_task1
  9381_Sudakov_EV/lab1.ipynb
Labels: check needed, task1

#35 9381_Andrukh_IA_task1
  9381_Andrukh_IA/task1.ipynb
Labels: check needed, task1

#41 9303_Pavlov_DR_task1
  9303_Pavlov_DR/task1.ipynb
Labels: check needed, task1

#62 9381_Prashutinsky_KI_task1
  9381_Prashutinsky_KI/task1.ipynb
Labels: check needed, task1

#45 9303_Skvorchevsky_BS_task1
  9303_Skvorchevsky_Bogdan/task1.ipynb
Labels: check needed, task1

#58 9381_Fominenko_AN_task1
  9381_Fominenko_AN/task1.ipynb
Labels: check needed, task1

#36 9383_Likhashva_AD_task1
  9383_Likhashva_AD/task1.ipynb
Labels: task1

#30 9383_Gladkikh_AA_task2
  9383_Gladkikh_AA/task2.ipynb
Labels: check needed, task2

#51 9381_Ptichkin_SA_task1
  9381_Ptichkin_SA/task_1.ipynb
Labels: check needed, task1

#53 9381_Pribylov_NA_task1
  9381_Pribylov_NA/task1.ipynb
Labels: check needed, task1

#43 9382_Kuzmin_DI_task1
  9382_Kuzmin_DI/task1.ipynb
Labels: check needed, task1
