Repository the-mvi/spbetu-computer-mathematics-2021, pull requests merged in 2021-05, with the labels that each got.

#28 9383_Kamzolov_NA_task2
  9383_Kamzolov_NA/task2.ipynb
Labels: check needed, task2

#150 9303_Dyukov_VA_task1
  9303_Dyukov_VA/9303_Dyukov_lb1.ipynb
Labels: check needed, task1

#31 9304_Lambin_AV_task1
  9304_Lambin_AV/task1.ipynb
Labels: check needed, task1

#32 9382_Pya_S_task1
  9382_Pya_S/task1.ipynb
Labels: check needed, task1

#34 9304_Akyonova_EA_task1
  9304_Aksyonova_EA/task1/task1.ipynb
Labels: check needed, task1

#37 9381_Ignashov_VM_task2
  9381_Ignashov_VM/.ipynb_checkpoints/task2-checkpoint.ipynb
  9381_Ignashov_VM/task2.ipynb
Labels: check needed, task2

#42 9382_Rusinov_DA_task1
  9382_Rusinov_DA/task1.ipynb
Labels: check needed, task1

#44 9382_Golubeva_VP_task2
  9382_Golubeva_VP/task2.ipynb
Labels: check needed, task2

#49 9304_Prokofev_MD_task1
  9304_Prokofev_MD/task1.ipynb
Labels: task1

#54 9383_Nistratov_DG_task1
  9383_Nistratov_DG/task1.ipynb
Labels: check needed, task1

#59 9382_Deryugin_DA_task1
  9382_Deryugin_DA/9382_Deryugin_DA.ipynb
Labels: check needed, task1

#63 9304_Kraev_DV_task1
  9304_Kraev_DV/.ipynb_checkpoints/task1-checkpoint.ipynb
  9304_Kraev_DV/task1.ipynb
Labels: check needed, task1

#64 9304_Shunyaev_AV_task1
  9304_Shunyaev_AV/task1.ipynb
Labels: check needed, task1

#65 9382_Pavlov_RV_task1
  9382_Pavlov_RV/task1.ipynb
Labels: check needed, task1

#66 9382_Savelyev_IS_task1
  9382_Savelyev_IS/task1.ipynb
Labels: check needed, task1

#67 9383_Chebesova_ID_task1
  9383_Chebesova_ID/lab 1.ipynb
Labels: check needed, task1

#68 9303_Makhalichev_NA_task1
  9303_Makhalichev_NA/task1.ipynb
Labels: check needed, task1

#69 9382_Kodukov_AV_task1
  9382_Kodukov_AV/task1/bin_mul.png
  9382_Kodukov_AV/task1/brauer.png
  9382_Kodukov_AV/task1/task1.ipynb
  9382_Kodukov_AV/task1/vec_ind.png
Labels: check needed, task1

#70 9303_Khalilov_SHA_task2
  9303_Khalilov_SHA/PracticalWork2.ipynb
Labels: check needed, task2

#71 9303_Eiswald_MI_task1
  9303_Eiswald_MI/data_chains.txt
  9303_Eiswald_MI/task1.ipynb
Labels: check needed, task1

#72 9303_Loykonen_MR_task2
  9303_Loykonen_MR/task2.ipynb
Labels: check needed, task2

#74 9382_Savelyev_IS_task2
  9382_Savelyev_IS/task2.ipynb
Labels: check needed, task2

#75 9382_Demin_VV_task1
  9382_Demin_VV/task1.ipynb
Labels: check needed, task1

#76 9382_Kruglova_VD_task1
  9382_Kruglova_VD/Kruglova_KM1.ipynb
Labels: check needed, task1

#78 9304_Lambin_AV_task2
  9304_Lambin_AV/task2.ipynb
Labels: check needed, task2

#134 9383_Nozdrin_VY_1
  9383_Nozdrin_VY/task1.ipynb
Labels: check needed, task1

#144 9383_Nozdrin_VY_task2
  9383_Nozdrin_VY/task2.ipynb
Labels: check needed, task2
